.GymSearchPage {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.GymSearchPage_SearchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(https://live.staticflickr.com/65535/50319765038_b60510e2a1_b.jpg)
    no-repeat;
  background-size: cover;
  /* margin: auto; */
  width: 100%;
}

.SearchBox_container {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* margin-bottom: 20px; */
  background-color: white;
  border: 1px solid #ebebeb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  /* margin: 16px 16px; */
  border: 1px solid #ebebeb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  /* width: 600px; */
}
.SearchBar__heading {
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}

.SearchBar {
  margin-top: 15%;
}

/* .SearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
} */

@media (min-width: 650px) {
  .GymSearchPage_SearchBar {
    height: 500px;
  }

  .SearchBar__heading {
    font-weight: bold;
    font-size: 1.5em;
  }
}

@media (min-width: 1400px) {
  /* .GymSearchPage_SearchBar {
    background-size: contain;
  } */

  .SearchBar__heading {
    font-weight: bold;
    font-size: 1.8em;
  }

  .GymSearchPage_SearchBar {
    width: 80%;
  }
}
