.GymPage {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.GymPage_Photos_Container {
  width: 80%;
  height: 270px;
  margin-bottom: 2%;
}

.GymPage_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
  background: white;
  transition: all 0.3s ease;
}

.checkout {
  text-align: center;
}

.GymPage_details_padding {
  padding: 5% 10% 5% 10%;
}

.GymPage_checkout {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
  background: white;
  transition: all 0.3s ease;
}
.GymPage_checkout_padding {
  padding: 25px;
}

.GymPage_title {
  font-weight: 800;
  text-align: left;
}

.GymPage_contact {
  font-weight: 800;
  text-align: center;
}

.GymPage_host {
  font-weight: bold;
}

.host {
  text-decoration: underline;
}

.GymPage_guests,
.GymPage_price {
  font-weight: 700;
}

.GymPage_date_and_time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.GymPage_time {
  margin-left: 10px;
}

.GymPage_guests_input {
  display: flex;
}

#guestSelectBox {
  margin-left: 10px;
  width: 80px;
}
.Email_host_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: red;
}

.Email_host {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  background-color: red;
  width: 140px;
  border: 0;
  border-radius: 500px;
  font-size: 14px;
  font-weight: 700;
  padding: 4px;
}

.Email_host_text {
  color: white;
}

.Email_icon {
  color: white;
}
a {
  text-decoration: none;
}

.GymPage_location {
  color: #7b858b;
}

@media (min-width: 600px) {
  .GymPage_Photos_Container {
    height: 450px;
    margin-bottom: 2%;
  }
  .GymPage_content {
    flex-direction: row;
  }

  .GymPage_details {
    width: 55%;
  }

  .GymPage_checkout {
    width: 35%;
  }
}

@media (min-width: 1000px) {
  .GymPage_Photos_Container {
    height: 350px;
    margin-bottom: 2%;
  }
  .GymPage_content {
    flex-direction: row;
  }

  .GymPage_details {
    width: 55%;
  }

  .GymPage_checkout {
    width: 35%;
  }
}

@media (min-width: 1500px) {
  .button {
    font-size: 22px;
  }
  .GymPage_Photos_Container {
    width: 80%;
    height: 500px;
    margin-bottom: 2%;
  }
}

@media (min-width: 2500px) {
  .button {
    font-size: 25px;
  }
}
