* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.App__header {
  padding-left: 20px;
  padding-right: 20px;
}

.App__main {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  margin: 0;
}

.red {
  color: red;
}
