html,
body {
  margin: 0;
}

.GymGridItems_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.GymGridItem {
  width: 48%;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
  background: white;
  transition: all 0.3s ease;
  margin-bottom: 5%;

  text-decoration: none;
}

.GymGridItem_PhotoSlideshow {
  height: 180px;
  margin-bottom: 2%;
}
.GymGridItem_content {
  height: 130px;
}

.GymGridItem_location {
  color: #7b858b;
  font-weight: bold;
  text-decoration: none;
}

.GymGridItem_title {
  color: black;
  font-weight: bold;
  text-decoration: none;
  margin-left: 3%;
  margin-right: 3%;
}

@media (min-width: 650px) {
  .GymGridItem {
    margin-bottom: 4%;
  }

  .GymGridItem_PhotoSlideshow {
    height: 180px;
    margin-bottom: 2%;
  }
  .GymGridItem_content {
    height: 100px;
  }
}
@media (min-width: 1000px) {
  .GymGridItem {
    margin-bottom: 3%;
    height: 100%;
    width: 30%;
  }

  .GymGridItem_PhotoSlideshow {
    height: 300px;
    margin-bottom: 2%;
  }
  .GymGridItem_content {
    height: 100px;
  }
}

@media (min-width: 1500px) {
  .GymGridItem_PhotoSlideshow {
    height: 300px;
    margin-bottom: 2%;
  }
  .GymGridItem_content {
    height: 100px;
  }
}
