html,
body {
  margin: 0;
}
.GymGrid {
  overflow: hidden;
}

.GymGridItem_div {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
  background: white;
  transition: all 0.3s ease;
  margin-bottom: 20px;

  border-radius: 30px;
  /* margin: 1% 20% 0 20%; */
  padding-bottom: 1%;
  /* margin: 50px 80px 50px 80px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  max-width: 90%;

  display: flex;
  height: 24vw;
  /* margin: 1%; */
  width: 23%;
}

.GymGridItem__photo {
  width: 100%;
  max-height: 90%;
  object-fit: cover;
}
.GymGridItem {
  text-decoration: none;
}

.GymGridItem_location {
  color: navy;
  font-weight: bold;
}

@media (min-width: 650px) {
}
