.Header {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
  background: white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header h1 {
  margin: 0;
  margin-left: 20px;
}

.Header h1 a {
  text-decoration: none;
}

.Header a {
  color: #616668;
  text-decoration: none;
}

.Header_login {
  margin-right: 20px;
  text-align: right;
  display: flex;
  flex-direction: column;
}
.Header__logged-in {
  display: flex;
  flex-direction: column;
}

.Header__not-logged-in {
  display: flex;
  flex-direction: column;
  color: #616668;
}

.Header__not-logged-in .Hyph {
  display: none;
}

@media screen and (min-width: 450px) {
  .Header h1 {
    font-size: 22pt;
  }

  .Header__not-logged-in {
    flex-direction: row;
  }

  .Header__not-logged-in .Hyph {
    display: initial;
  }

  .Header__logged-in {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 1400px) {
  .Header h1 {
    font-size: 22pt;
  }

  .Header__not-logged-in {
    flex-direction: row;
  }

  .Header__not-logged-in .Hyph {
    display: initial;
  }
}
