/* .GymGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.GymGrid {
  overflow: hidden;
  width: 100%;
}

.GymGridExploreButton {
  margin-bottom: 10px;
}

.GymGridHeader {
  font-weight: bold;
  font-size: 0.8em;
}

/* .GymGridItems_contianer {
  display: flex;
  flex-direction: row;
} */

/* @media (min-width: 520px) {
  .GymGridItems_container {
    margin-top: 40px;
    margin-bottom: 20px;
  }
} */
