#HostGymForm__description {
  height: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 40px;
}
label {
  display: inline-block;
  width: 140px;
  text-align: right;
}

.HostGymPage_Section {
  height: 100%;
  display: flex;
  flex-direction: column;

  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
  background: white;
  transition: all 0.3s ease;
}

.HostGymForm_Image_form {
  width: 100%;
}

.Current_Images {
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 100%;
  height: 100%;
}

.HostGymForm__photo_container {
  float: left;
  width: 40%;
  margin-left: 6.5%;
  height: 100%;
}

.HostGymForm__photo {
  width: 100%;
}

.Current_Images_text {
  text-align: left;
  margin-top: 7%;
  margin-left: 7%;
}

.list_gym_button {
  position: relative;
  top: 50px;
}

.HostGymForm_Image_form {
  position: relative;
  bottom: 40px;
}

@media (min-width: 650px) {
  .Current_Images_text {
    margin-top: 4%;
  }
}

@media (min-width: 1500px) {
  .Current_Images_text {
    margin-top: 2%;
  }
}
